* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.flex-headr {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 30px 20px;
  background-color: palevioletred;
}

.flex-headr > .flex-headr-logo {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: pink;
}

.flex-headr > :first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.main-left {
  width: 300px;
  background-color: greenyellow;
}

.flex-main-right {
  display: flex;
  justify-content: ce;
  max-width: 700px;
  padding: 20px;
  background-color: green;
  flex-wrap: wrap;
  flex-grow: 1;
}

.flex-main-right > .flex-main-right-item {
  margin: 10px;
  flex-basis: 200px;
  height: 130px;
  background-color: yellow;
}

footer {
  width: 100%;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

footer > .flex-footer-item {
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;
  height: 40px;
  background-color: cornflowerblue;
}